#parallax-header {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* The image used */
  background-image: linear-gradient(rgba(24, 23, 35, 0.8), rgba(12, 40, 38, 0.6)), url("../img/main/16.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax-header .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
#parallax-header .main h3 {
  font-size: 48px;
}
#parallax-header .main ul {
  display: flex;
  padding-top: 15px;
}
#parallax-header .main ul li {
  padding-left: 5px;
  font-weight: bold;
}
#parallax-header .main ul li a {
  color: #fff;
}
#parallax-header .main ul li:hover a {
  color: #1cc3b2;
}
#parallax-header .main ul li i {
  padding: 0 5px;
}

#about-us {
  padding-top: 100px;
}
#about-us .container {
  display: flex;
}
#about-us .container .about-img {
  width: 50%;
  height: 360px;
}
#about-us .container .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  padding-right: 60px;
  padding-bottom: 40px;
}
#about-us .container .about-content {
  width: 50%;
}
#about-us .container .about-content .about-content-text-header {
  width: 80%;
  margin-bottom: 50px;
}
#about-us .container .about-content .about-content-text-header h6 {
  font-size: 16px;
  color: #1cc3b2;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
#about-us .container .about-content .about-content-text-header h2 {
  font-size: 42px;
  text-transform: capitalize;
  margin-bottom: 0;
  display: block;
  line-height: 1.2;
  color: #2a303b;
  font-weight: 500;
}
#about-us .container .about-content .about-content-text-content p {
  line-height: 1.7;
  color: #636a76;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

#our-hotel {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* The image used */
  background-image: linear-gradient(rgba(24, 23, 35, 0.8), rgba(12, 40, 38, 0.6)), url("../img/20.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#our-hotel .our-hotel-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-hotel .our-hotel-content h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 16px;
}
#our-hotel .our-hotel-content h2 {
  font-size: 42px;
  text-transform: capitalize;
  line-height: 1.2;
}
#our-hotel .our-hotel-content .play-button {
  margin-top: 40px;
}
#our-hotel .our-hotel-content .play-button a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  color: #1cc3b2;
  font-size: 18px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
}
#our-hotel .our-hotel-content .play-button a:hover {
  color: #fff;
  background-color: #1cc3b2;
  transition: all 0.5s;
}

#services {
  margin-top: 100px;
}
#services .container {
  display: flex;
  flex-direction: column;
}
#services .container .services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#services .container .services-header h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #1cc3b2;
}
#services .container .services-header h2 {
  font-size: 42px;
  text-transform: capitalize;
  line-height: 1.2;
}
#services .container .services-boxes {
  display: flex;
  column-gap: 30px;
}
#services .container .services-boxes .services-box {
  width: 32%;
  position: relative;
}
#services .container .services-boxes .services-box:hover .services-box-footer {
  background-color: #0e2737;
  transition: all 0.5s;
}
#services .container .services-boxes .services-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#services .container .services-boxes .services-box .services-box-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: rgba(42, 48, 59, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#services .container .services-boxes .services-box .services-box-footer h5 {
  color: #fff;
  font-size: 24px;
}

/*# sourceMappingURL=about.css.map */
