//Sweet Css
.swal-button {
  background-color: #1cc3b2;
}

.swal-button:not([disabled]):hover {
  background-color: #0e2737;
}

#rooms {
  margin-top: 100px;
  .container {
    display: flex;
    column-gap: 30px;
    .room {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      width: 60%;
      .room-box {
        width: 100%;
        display: flex;
        column-gap: 50px;
        height: 260px;
        .room-box-img {
          width: 65%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
        .room-box-description {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2 {
            color: #2a303b;
            line-height: 1.3;
            font-weight: 600;
            font-size: 23px;
            margin-bottom: 5px;
          }
          h4 {
            color: #1cc3b2;
            margin-bottom: 30px;
            font-size: 24px;
            span {
              color: #afb4bf;
              font-size: 14px;
              padding-top: 5px;
            }
          }
          .room-box-services {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            h6 {
              width: 50%;
              max-width: 50%;
              color: #afb4bf;
              margin-bottom: 10px;
              font-size: 16px;
              font-weight: lighter;
              span {
                color: #2a303b;
                display: block;
                font-size: 15px;
                font-weight: lighter;
              }
            }
          }
          .view-button {
            a {
              font-size: 16px;
              color: #1cc3b2;
              font-weight: 600;
              i {
                padding-left: 8px;
              }
              &:hover {
                color: #000;
                transition: all 0.6s;
              }
            }
          }
        }
      }
    }
    .price-per-month {
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: lighter;
        margin-bottom: 10px;
      }
      .date {
        margin-bottom: 30px;
        .input-date {
          display: flex;
          height: 50px;
          input {
            cursor: pointer;
            width: 50%;
            font-size: 14px;
            padding: 10px;
            outline-color: #1cc3b2;
            font-family: 'Noto Sans', sans-serif;
            border: 1px solid #ced4da;
            &::-webkit-calendar-picker-indicator {
              cursor: pointer;
            }
          }
        }
      }
      .guest {
        margin-bottom: 30px;
        .guest-info {
          display: flex;
          justify-content: space-between;
          .adults {
            width: 45%;
            form {
              .__select-4 {
                position: relative;
                //width: 70px;
                height: 55px;
                margin: 0 auto;

                &[data-state="active"] {
                  .__select__title-4 {
                    &::before {
                      transform: translate(-3px, -50%) rotate(-45deg);
                    }

                    &::after {
                      transform: translate(3px, -50%) rotate(45deg);
                    }
                  }

                  .__select__content {
                    opacity: 1;
                  }

                  .__select__label-4 + .__select__input + .__select__label-4 {
                    max-height: 40px;
                    border-top-width: 1px;
                  }
                }
              }
              .__select__title-4 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 8px 16px;

                border-radius: 5px;
                border: solid 1px #c7ccd1;

                cursor: pointer;

                &::before,
                &::after {
                  content: "";

                  position: absolute;
                  top: 50%;
                  right: 16px;

                  display: block;
                  width: 8px;
                  height: 2px;

                  transition: all 0.3s ease-out;

                  background-color: #333333;

                  transform: translate(-3px, -50%) rotate(45deg);
                }
                &::after {
                  transform: translate(3px, -50%) rotate(-45deg);
                }

                &:hover {
                  border-color: #1cc3b2;

                  &::before,
                  &::after {
                    background-color: #1cc3b2;
                  }
                }
              }
              .__select__content {
                position: absolute;
                top: 55px;
                display: flex;
                flex-direction: column;
                width: calc(100% - 10px);
                background-color: #ffffff;
                border: 1px solid #c7ccd1;
                border-top: none;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                transition: all 0.3s ease-out;
                opacity: 0;
                z-index: 8;
              }
              .__select__input {
                display: none;

                &:checked + label {
                  background-color: #dedede;
                }
                &:disabled + label {
                  opacity: 0.6;
                  pointer-events: none;
                }
              }
              .__select__label-4 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                max-height: 0;
                padding: 0 16px;

                transition: all 0.2s ease-out;

                cursor: pointer;

                overflow: hidden;

                & + input + & {
                  border-top: 0 solid #C7CCD160;
                }

                &:hover {
                  background-color: #1cc3b2 !important;

                  color: #ffffff;
                }
              }
            }
          }
          .children {
            width: 45%;
            form {
              .__select-5 {
                position: relative;
                //width: 70px;
                height: 55px;
                margin: 0 auto;

                &[data-state="active"] {
                  .__select__title-5 {
                    &::before {
                      transform: translate(-3px, -50%) rotate(-45deg);
                    }

                    &::after {
                      transform: translate(3px, -50%) rotate(45deg);
                    }
                  }

                  .__select__content {
                    opacity: 1;
                  }

                  .__select__label-5 + .__select__input + .__select__label-5 {
                    max-height: 40px;
                    border-top-width: 1px;
                  }
                }
              }
              .__select__title-5 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 8px 16px;

                border-radius: 5px;
                border: solid 1px #c7ccd1;

                cursor: pointer;

                &::before,
                &::after {
                  content: "";

                  position: absolute;
                  top: 50%;
                  right: 16px;

                  display: block;
                  width: 8px;
                  height: 2px;

                  transition: all 0.3s ease-out;

                  background-color: #333333;

                  transform: translate(-3px, -50%) rotate(45deg);
                }
                &::after {
                  transform: translate(3px, -50%) rotate(-45deg);
                }

                &:hover {
                  border-color: #1cc3b2;

                  &::before,
                  &::after {
                    background-color: #1cc3b2;
                  }
                }
              }
              .__select__content {
                position: absolute;
                top: 55px;
                display: flex;
                flex-direction: column;
                width: calc(100% - 10px);
                background-color: #ffffff;
                border: 1px solid #c7ccd1;
                border-top: none;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                transition: all 0.3s ease-out;
                opacity: 0;
                z-index: 8;
              }
              .__select__input {
                display: none;

                &:checked + label {
                  background-color: #dedede;
                }
                &:disabled + label {
                  opacity: 0.6;
                  pointer-events: none;
                }
              }
              .__select__label-5 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                max-height: 0;
                padding: 0 16px;
                transition: all 0.2s ease-out;
                cursor: pointer;
                overflow: hidden;

                & + input + & {
                  border-top: 0 solid #C7CCD160;
                }

                &:hover {
                  background-color: #1cc3b2 !important;

                  color: #ffffff;
                }
              }
            }
          }
        }
      }
      .range-price {
        margin-bottom: 50px;
        .range {
          display: flex;
          width: 100%;
        }

        .range__slider {
          width: 45%;
        }

        .range__value {
          width: 35%;
          margin-left: 45px;
          text-align: center;
          border-left: #e6e4e4 1px solid;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .form-group label {
          text-transform: uppercase;
          font-size: .7rem;
          color: #222;
          margin-bottom: 5px;
        }

        .form-group span {
          font-size: 2rem;
          font-weight: 600;
          color: #3c3b3b;
        }

        .range__slider label {
          margin-bottom: 10px;
        }

        .range__slider [type="range"] {
          width: 100%;
          -webkit-appearance: none;
          height: 13px;
          border-radius: 6px;
          background: #f1f1f1;
          outline: none;
          padding: 0;
          margin: 0;
        }

        /* custom thumb */
        .range__slider [type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #fff;
          border: #1cc3b2 5px solid;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;
        }

        .range__slider [type="range"]::-webkit-slider-thumb:hover {
          background: #1cc3b2;
        }

        .range__slider [type="range"]::-moz-range-thumb {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #f0932b;
          border: #f9ca24 5px solid;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;
        }

        .range__slider [type="range"]::-moz-range-thumb:hover {
          background: #f9ca24;
        }

        /* remove border */
        input::-moz-focus-inner, input::-moz-focus-outer {
          border: 0;
        }
      }
      .check-button {
        align-self: center;
        button {
          cursor: pointer;
          min-width: 150px;
          height: 46px;
          line-height: 46px;
          font-size: 16px;
          font-weight: 600;
          display: inline-block;
          padding: 0 40px;
          text-align: center;
          text-transform: capitalize;
          background-color: #1cc3b2;
          color: #fff;
          border: none;
          border-radius: 6px;
          &:hover {
            box-shadow: 0 2px 40px 8px rgb(15 15 15 / 15%);
            background-color: #ffffff;
            color: #1cc3b2;
            transition: all 0.7s;
          }
        }
      }
    }
  }
}



